/* Style for the heading */
h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  }
  
  /* Style for the sub-heading */
  h2 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
  }
  
  /* Style for the buttons */
  button {
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  }
  
  #increment-btn {
  background-color: green;
  color: #fff;
  }
  
  #save-btn {
  background-color: blue;
  color: #fff;
  }
  
  /* Style for the saved entries section */
  p {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  }
  
  #save-el {
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 5px;
  }